<header>
	<div class="search"> 
		<input type="text" (keyup)="searchEvent($event)" [(ngModel)]="search">	
		<i class="fa fa-search" aria-hidden="true"></i>
		<ul class="results">
			<li *ngFor="let user of searchResult" (click)="selectUser(user)"><p>{{user.Name}}</p><p>{{user.LastName}}</p></li>
		</ul>
	</div>
	<label><input type="checkbox" name="Without seat" [(ngModel)]="withoutSeatCheckbox" (click)="filterEvent()">Without seat</label>
	<div *ngIf="isLogin" class="newSeat" (click)="newSeat()">New seat</div>
	<div *ngIf="!isLogin" (click)="toggleLoginPopUpVisibility()" class="login">LOGIN</div>
	<div *ngIf="isLogin" (click)="logout()" class="logout">LOGOUT</div>
	<div *ngIf="popUpVisible" class="PopUp">
		<div class="inputs">
			<div class="row"><p>Login</p><input type="text" [(ngModel)]="inputName" required #name></div>
			<div class="row"><p>Password</p><input type="password" [(ngModel)]="inputPass" required #pass></div>
			<i class="fa fa-times cross" aria-hidden="true" (click)="toggleLoginPopUpVisibility()"></i>
		</div>
		<a (click)="login(name.value, pass.value)" class="popUpConfirm">Login</a>
	</div>
</header>